<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Fellipe Dobokowski">
    <link rel="icon" href="~/Content/img/logoTitulo.png">
    <title>Triângulo Arquitetura</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/detalhes.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div class="col-lg-4 col-md-push-4">
        <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive" src="~/Content/img/logo.png" alt="Triângulo web Site logo"></a>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-nav page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Sobre nós</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Nosso Time</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Nossos Trabalhos</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row row-0-gutter">
                <!-- Aqui começa o projeto 1 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto1/POST 03 A.png" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Dean & Letter</h2>
                                <p>Branding, Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 1 -->
                <!-- Aqui começa o projeto 2 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto2/POST 04 D.png" alt="img03" class="imgControl img-responsive" />
                            <figcaption>
                                <h2>Startup Framework</h2>
                                <p>Branding, Web Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 2 -->
            </div>
            <div class="row row-0-gutter">
                <!-- Aqui começa o projeto 3 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto3/POST 06 C.jpg" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Lamp & Velvet</h2>
                                <p>Branding, Web Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 3 -->
                <!-- Aqui começa o projeto 4 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto4/POST 07 A.png" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Smart Name</h2>
                                <p>Branding, Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 4 -->
            </div>
            <div class="row row-0-gutter">
                <!-- Aqui começa o projeto 5 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto5/POST 09 A.png" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Fast People</h2>
                                <p>Branding, Web Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 5 -->
                <!-- Aqui começa o projeto 6 -->
                <div class="col-md-6 col-0-gutter">
                    <div class="ot-portfolio-item">
                        <figure class="effect-bubba">
                            <img src="~/Content/img/projeto6/POST 10.png" alt="img02" class="img-responsive" />
                            <figcaption>
                                <h2>Kites & Stars</h2>
                                <p>Branding, Web Design</p>
                                <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <!-- Aqui termina o projeto 6 -->
            </div>
        </div>
        <!-- container -->
    </section>
    <section id="about" class="mz-module">
        <div class="container light-bg">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Nossos Objetivos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="mz-about-container">
                        <p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. Lattes Agency is one of the best in town see more you will be amazed.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- skill bar item -->
                    <div class="skillbar-item">
                        <div class="skillbar" data-percent="90%">
                            <h3>Web design</h3>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent" style="width: 90%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- skill bar item -->
                    <div class="skillbar-item">
                        <div class="skillbar" data-percent="80%">
                            <h3>Development</h3>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent" style="width: 80%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- skill bar item -->
                    <div class="skillbar-item">
                        <div class="skillbar" data-percent="85%">
                            <h3>Photography</h3>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- skill bar item -->
                    <div class="skillbar-item">
                        <div class="skillbar" data-percent="70%">
                            <h3>Marketing</h3>
                            <div class="skillbar-bar">
                                <div class="skillbar-percent" style="width: 70%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-0-gutter">
                <!-- about module -->
                <div class="col-md-3 col-0-gutter mz-about-default text-center">
                    <div class="mz-module-about">
                        <i class="fa fa-briefcase ot-circle"></i>
                        <h3>Web Development</h3>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 col-0-gutter mz-about-dark text-center">
                    <div class="mz-module-about">
                        <i class="fa fa-photo ot-circle"></i>
                        <h3>Visualisation</h3>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 col-0-gutter mz-about-default text-center">
                    <div class="mz-module-about">
                        <i class="fa fa-camera-retro ot-circle"></i>
                        <h3>Photography</h3>
                    </div>
                </div>
                <!-- end about module -->
                <!-- about module -->
                <div class="col-md-3 col-0-gutter mz-about-dark text-center">
                    <div class="mz-module-about">
                        <i class="fa fa-cube ot-circle"></i>
                        <h3>UI/UX Design</h3>
                    </div>
                </div>
                <!-- end about module -->
            </div>
        </div>
        <!-- /.container -->
    </section>
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Nosso time</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Membros do time -->
                <div class="col-lg-6">
                    <div class="team-item">
                        <div class="team-image thumbnail">
                            <img src="~/Content/img/time/taina.jpg" class="img-responsive img-rounded img-circle" alt="author">
                        </div>
                        <div class="team-text">
                            <h3>Tainá Imme</h3>
                            <div class="team-position">Arquiteta e Urbanista</div>
                            <p>Worsa dona namet, cons uectetur dipiscing adon elit. Aliquam vitae fringilla unda mir.</p>
                        </div>
                    </div>
                </div>
                <!-- Fim do primeiro membro -->
                <!-- Membro do time -->
                <div class="col-lg-6">
                    <div class="team-item">
                        <div class="team-image thumbnail">
                            <img src="~/Content/img/time/joice.jpg" class="img-responsive img-circle" alt="author">
                        </div>
                        <div class="team-text">
                            <h3>Joice Poffo</h3>
                            <div class="team-position">Arquiteta e Urbanista</div>
                            <p>Dolor sit don namet, cons uectetur beriscing adon elit. Aliquam vitae fringilla unda.</p>
                        </div>
                    </div>
                </div>
                <!-- Fim do Segundo membro -->
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Fale conosco</h2>
                        <p>Se você possuí alguma dúvida ou deseja fazer um orçamento<br /> fale com a gente!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome" id="name" required="" data-validation-required-message="Oops, faltou digitar o seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" id="email" required="" data-validation-required-message="Oops, faltou digitar o seu email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Escreva sua mensagem" id="message" required="" data-validation-required-message="Oops, faltou escrever sua mensagem."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <p id="back-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </p>
    <footer>
        <div class="container text-center">
            <p>Escrito e Desenvolvido por <a class="alert-link" href="https://www.linkedin.com/in/fellipe-dobokowski-2b7b78142/">Fellipe Dobokowski  &copy; 2018 Triângulo Arquitetura</a></p>
        </div>
    </footer>
    <!-- Modal for portfolio item 1 -->
    <div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
                    <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for portfolio item 2 -->
    <div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
                    <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for portfolio item 3 -->
    <div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/demo/portfolio-3.jpg" alt="img01" class="img-responsive" />
                    <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for portfolio item 4 -->
    <div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
                    <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for portfolio item 5 -->
    <div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Modal-label-5">Fast People</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
                    <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/javaScript/jquery-3.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Content/javaScript/bootstrap.min.js"></script>
    <script src="~/Content/javaScript/SmoothScroll.js"></script>
    <script src="~/Content/javaScript/theme-scripts.js"></script>
</body>
</html>